* {
	box-sizing: border-box;
}
.container {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
.flex_container {
	display: flex;
	justify-content: space-between;
	align-items: center;	
}
.vertical-flex_container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.header,
.footer {
	background-color: #e8ebf1;
}
.header_line {
	padding-top: 35px;
	padding-bottom: 45px;
}
.nav_menu-container {
	list-style: none;
}
.nav_list {
	display: inline-flex;
	justify-content: center;
	margin-right: 40px;
	position: relative;
	border-top: 5px solid transparent;
}
.nav_list:last-child {
	margin-right: 0;
}
.nav_list:hover {
	background-color: #ffffff;
	border-color: #2aacc8;
	color: #2aacc8;
}
.nav_link {
	text-decoration: none;
	color: inherit;
	padding: 10px;
	text-transform: uppercase;
	font-family: "Arial - Bold MT";
	font-size: 15px;
	font-weight: bold;
	line-height: 20px;
}
.nav_link:hover {
	color: #2aacc8;
	background-color: #ffffff;
	border-color: #2aacc8;
}
.dropdown_menu {
	display: none;
	position: absolute;
	list-style-type: none;
	text-transform: initial;
	border-bottom: 5px solid #2aacc8;
}
.dropdown_list {
	margin: 0;
	padding: 10px;
	background-color: #ffffff;
	border-bottom: 1px solid #e7e7e7;
}
.dropdown_list:last-child {
	border: none;
}
.nav_list:hover > .dropdown_menu {
	display: block;
	width: 200px;
	left: 0;
	top: 100%;
	padding: 0;
	background-color: #ffffff;
}
.dropdown_link {
	display: block;
	text-decoration: none;
	color: initial;
	font-family: "Arial MT";
	font-size: 14px;
	line-height: 36px;
	font-weight: bold;
}
.dropdown_link:hover {
	color: #2aacc8;
}
.dropdown_arrow::after {
	content: '';
	display: inline-flex;
	align-content: center;
	width: 7px;
	height: 5px;
	background-image: url(../images/down_arrow.svg);
	margin-left: 10px;
}
.contact_title {
	font-size: 14px;
	text-transform: uppercase;
	margin: 0;
	border-bottom: 1px solid #dfe1e5;
	padding-top: 45px;
	padding-bottom: 15px;
}
.contact_title::before {
	content: '';
	display: inline-flex;
	width: 24px;
	height: 17px;
	background: url(../images/email.svg);
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: bottom;
	margin-right: 25px;
}
.section_content {
	margin-top: 40px;
	align-items: flex-start;
}
.left_column {
	width: 565px;
	margin-right: 75px;
}
.form_title1 {
	font-family: Arial;
	font-size: 14px;
	margin-bottom: 0;
	margin-top: 0;
}
.form_title2 {
	font-family: Arial;
	font-size: 14px;
}
.form {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 480px;
}
.label-style {
	margin-top: 20px;
	margin-bottom: 10px;
	font-family: "Arial MT";
	font-size: 14px;
}
.label-style:first-child {
	margin-top: 0;
}
.textarea {
	height: 160px;
}
#submit_btn {
	display: none;
}
.btn_label {
	position: relative;
	width: 160px;
	height: 60px;
	margin-top: 20px;
	margin-bottom: 40px;
	background-color: #2aacc8;
	border: 1px solid #2aacc8;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(255, 255, 255, 0.1);
	background-image: linear-gradient(to top, #2aacc8 0%, #60cede 15%, #72dae6 50%, #81e4ed 100%);

}
.btn_title {
	font-family: "Arial - Bold MT";
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: inline-flex;
	align-items: center;
}
.btn_title::before {
	content: '';
	display: inline-flex;
	width: 24px;
	height: 24px;
	background-image: url(../images/Shape_1.svg);
	margin-right: 15px;
	margin-left: 20px;
}
.frame_title {
	font-family: "Arial - Bold MT";
	font-size: 14px;
	font-weight: bold;
	margin: 25px 0 0 20px;

}
.img_frame {
	background-color: #e8fcfe;
	border: 1px solid #81e4ed;
}
.map_img {
	border: 3px solid #ffffff;
	margin: 25px 20px 20px;
}
.address_title {
	font-family: "Arial - Bold MT";
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	margin: 40px 0 20px 0;
}

.footer_content {
	padding-top: 35px;
	align-items: flex-start;
}
.about {
	margin-right: 65px;
	width: 235px;
}
.footer_titles {
	font-family: "Arial - Bold MT";
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	margin: 0 0 20px 0;
}
.footer_about_text {
	font-family: Arial;
	font-size: 14px;
	margin: 0;
}
.footer_explore {
	margin-right: 75px;
	width: 70px;
}
.footer_links {
	display: flex;
	flex-direction: column;
}
.footer_link {
	color: initial;
	text-decoration: none;
	font-family: "Arial MT";
	font-size: 15px;
	margin-bottom: 15px;
}
.footer_link:last-child {
	margin-bottom: 0;
}
.footer_browse {
	margin-right: 65px;
	width: 105px;
}
.footer_contacts {
	margin-right: 55px;
	width: 135px;
}
.name_of_company {
	font-family: "Arial - Bold MT";
	font-weight: 700;
	margin: 0;
}
.adress {
	margin: 0;
	font-family: Arial;
	font-size: 14px;
}
.phones {
	margin: 20px 0 0;
	font-family: Arial;
	font-size: 13px;
}
.connect_icon-links {
	width: 195px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer-bottom_line {
	margin-top: 40px;
	padding-bottom: 50px;
}
.bottom_line-text {
	margin-right: 250px;
	font-family: "Arial MT";
	font-size: 13px;
	line-height: 18px;
}